@import '../../styles//utilities/variables';
@import '../../styles//utilities/typography';
@import '../../styles//utilities/mixins';

.content {
  @media (max-width: 375px) {
    background-image: url('../../assets/bg.png');
  }
  padding: 10px;
  color: $bg-paper;
  background-image: url('../../assets/welcome-bg.png');
  @include flexy($direction: column, $start: center);
  height: 100vh;
  text-align: center;
}

.button {
  @include button($padding: 15px 120px);
  width: 70px;
}

.signIn {
  text-align: right;
  color: $bg-paper;
  margin-top: 20px;
  & a {
    color: $bg-paper;
  }
}
