@import '../../../styles/utilities/index.scss';

.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000000;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
}
.content {
  position: absolute;
  box-sizing: border-box;
  margin: 120px auto;
  background-color: $bg-paper;
  border-radius: 15px;
  width: 39%;
  box-shadow: $bx-shadow-card;
  @media (max-width: 1024px) {
    width: 80%;
  }
  border-radius: 10px;
  @media (max-width: 768px) {
    width: 95%;
  }
}

.header {
  padding: 10px 15px;
  @include flexy($justify: space-between);
  height: 30px;
  background-color: $card-header-bg;
  color: $secondary-main;
  font-size: 12px;
  font-weight: bold;
  border-radius: 15px 15px 0px 0;
  & span {
    color: $black;
  }
}

.postForm {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-bottom: 30px;
}

.firstPartForm {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
  border-bottom: 1px solid $border-transparent;
  margin: 20px;
}
.desc {
  padding: 0px;
  outline: none;
  resize: none;
  overflow: auto;
  font-size: 16px;
  width: 100%;
  height: 100px;
  border: none;
  color: $secondary-dark;
  @include flexy($justify: space-between);
  &:focus {
    outline: none;
    color: $secondary-dark;
  }
  &::placeholder {
    font-size: 16px;
    color: $secondary-light;
  }
}

.secondPartForm {
  display: flex;
  margin: 20px;
  flex-wrap: wrap;

  & label {
    display: block;
    padding-bottom: 10px;
    color: $secondary-light;
    font-size: 12px;
  }
}

.inputSecondPart {
  width: 40%;
  margin-right: 40px;
  margin-top: 10px;
  & input {
    font-size: 16px;
    letter-spacing: 1px;
    outline: none;
    border: none;
    padding-top: 0.6em;
    width: 70px;
    // border: none;
    padding: 10px 20px;
    border-radius: 10px;
    box-shadow: $bx-shadow-hard;
  }
}

.button {
  margin: 0 auto;
  @include button($padding: 15px);
  width: 60%;
  @media (max-width: 768px) {
    width: 80%;
  }
}

label.filebutton {
  opacity: 0.5;
  background-repeat: no-repeat;
  background-size: auto;
  width: 15px;
  height: 15px;
  overflow: hidden;
  position: relative;
  padding: 3px;
  border-radius: 5px;
}

label span input {
  z-index: 999;
  line-height: 0;
  font-size: 50px;
  position: absolute;
  top: -2px;
  left: -700px;
  opacity: 0;
  filter: alpha(opacity = 0);
  -ms-filter: 'alpha(opacity=0)';
  cursor: pointer;
  _cursor: hand;
  margin: 0;
  padding: 0;
}

.postGallery {
  margin: 120px auto;
  width: 65%;
  border-radius: 10px;
  @media (max-width: 768px) {
    width: 95%;
  }
}

.inputErrors {
  color: $error;
  font-size: 10px;
}

.descError {
  color: $error;
  font-size: 10px;
  margin: 20px 0 0 20px;
}

.selectInput {
  border: $bg-paper;
  box-shadow: $bx-shadow-hard;
  border-radius: 10px;
  padding: 8px;
}

option {
  font-size: 13px;
}
