@import '../../../styles/utilities/index.scss';
.content {
  color: $bg-paper;
  background-color: $bg-default;
  @include flexy($direction: column, $wrap: nowrap);
  height: 100vh;
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: 30px;
  width: 280px;
  @media (min-width: 768px) {
    width: 400px;
  }
  & label {
    margin-top: 15px;
    padding-left: 10px;
    text-align: left;
    font-size: 12px;
    color: $secondary-light;
  }
}

.error {
  display: inline-block;
  margin-top: 10px;
  //   padding: 10px;
  color: $error;
  font-weight: bold;
}
.button {
  @include button;
}
.buttonUpdating {
  @include button;
  background-color: $primary-dark;
}
.input {
  @include input-white;
  margin-top: 10px;
}
