//Primay Color

$primary-main: #504de5;
$primary-dark: #9694ef;
$primary-light: #d5d4f9;

//Secondary color

$secondary-main: #3b566e;
$secondary-dark: #6f8ba4;
$secondary-light: #c0d1e0;
$secondary-grey: #dfe8f0;
$secondary-dark-grey: #9aaebf;
// Other color:
$black: #000;
$border-transparent: rgba(192, 209, 224, 0.2);
//Background

$bg-default: #fcfbfb;
$bg-paper: #fff;
$card-header-bg: #f8f8f8;

//Error

$error: #e26453;
$success: #2bc769;

//Box Shadows
$bx-shadow-soft: 0px 0px 1px rgba(0, 0, 0, 0.04),
  0px 2px 6px rgba(0, 0, 0, 0.04), 0px 6px 24px rgba(0, 0, 0, 0.06);
$bx-shadow-hard: 0px 0px 4px rgba(0, 0, 0, 0.25);

$bx-shadow-menu: 0px 5px 14px rgba(0, 0, 0, 0.12);

$bx-shadow-card: 0px 2px 14px rgba(0, 0, 0, 0.16);

$body1: 16px;
$body2: 14px;
