@import '../../../styles//utilities/variables';
@import '../../../styles//utilities/typography';
@import '../../../styles//utilities/mixins';

.content {
  @media (max-width: 375px) {
    background-image: url('../../../assets/bg.jpg');
  }
  color: $bg-paper;
  background-image: url('../../../assets/welcome_bg.jpg');
  @include flexy($direction: column);
  height: 100vh;
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  width: 400px;
  @media (max-width: 768px) {
    width: 80%;
  }
}

.input {
  margin-top: 40px;
  color: $bg-paper;
  padding: 12px 0px;
  background-color: transparent;
  display: inline-block;
  border: none;
  font-size: 18px;
  border-bottom: 1px solid $bg-paper;
  box-sizing: border-box;
  &:focus {
    outline: none;
    border-bottom: 1px solid $bg-paper;
  }
  &::placeholder {
    color: $bg-paper;
    font-size: 18px;
  }
}

.password {
  font-size: 40px;
}

.forgotPassword {
  background-color: 'none';
  text-align: right;
  color: $bg-paper;
  margin-top: 20px;
  text-decoration: none;
}

.errorMessage {
  margin-top: 10px;
  background-color: $bg-paper;
  text-align: left;
  padding: 10px;
  color: $error;
  font-weight: bold;
}
.button {
  @include button;
}
