@import '../../../styles/style.scss';

.content {
  color: $bg-paper;
  background-color: $bg-default;
  @include flexy($direction: column, $wrap: nowrap);
  height: 100vh;
  text-align: center;
}

.logoIcon {
  height: 70px;
  @media (max-width: 768px) {
    height: 50px;
  }
}

.subtitle {
  font-size: 22px;
  color: $secondary-main;
  padding: 0 10px;
  margin: 5px 0px;
  font-weight: normal;
}
.form {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  margin-bottom: 10px;
  width: 400px;
  @media (max-width: 768px) {
    width: 80%;
  }
}

.input {
  @include input-white;
}

.error {
  display: inline-block;
  padding: 5px;
  color: $error;
  font-weight: bold;
  font-size: 10px;
  line-height: 0.5rem;
}

.button {
  @include button;
  margin-bottom: 5px;
}
