@import '../../../../styles/utilities/index.scss';

.avatar {
  margin: 30px auto;
  background-image: url('../../../../assets/image-4.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 84px;
  height: 84px;
  border-radius: 50%;
}
.form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  width: 400px;
  //   margin-top: 30px;
  padding-right: 15px;
  padding-left: 15px;
  @media (max-width: 768px) {
    width: 80%;
  }
  & label {
    margin-top: 15px;
    padding-left: 10px;
    text-align: left;
    font-size: 12px;
    color: $secondary-light;
  }
}

.error {
  display: inline-block;
  margin-top: 10px;
  //   padding: 10px;
  color: $error;
  font-weight: bold;
}
.button {
  @include button;
}

.input {
  @include input-white;
  margin-top: 10px;
  // width: 95%;
}

.formSecondPart {
  display: flex;
  flex-direction: column;
}

.cancelButton {
  outline: none;
  cursor: pointer;
  background-color: transparent;
  border: none;
  padding: 10px;
  text-transform: uppercase;
  color: $secondary-light;
  font-size: 15px;
  font-weight: bold;
}
