@import '../../../../styles/utilities/index.scss';

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  margin: 120px auto;
  background-color: $bg-paper;
  border-radius: 15px;
  width: 39%;
  box-shadow: $bx-shadow-card;
  // padding-top: 20px;
  padding-bottom: 20px;
  @media (max-width: 1024px) {
    width: 80%;
  }
  border-radius: 10px;
  @media (max-width: 768px) {
    width: 95%;
  }
}

.header {
  padding: 10px 15px;
  @include flexy($justify: space-between);
  height: 30px;
  background-color: $card-header-bg;
  color: $secondary-main;
  font-size: 12px;
  font-weight: bold;
  & span {
    color: $black;
  }
}
.deleteSection {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.deleteButton {
  outline: none;
  cursor: pointer;
  font-weight: bold;
  background-color: transparent;
  border: none;
  color: $error;
  text-transform: uppercase;
}
